{% extends 'adminbase.html' %}
{% load static %}

{% block content %}
<div class="container">
  <h2 class="text-danger" style="margin-top: 79px;">PRODUCT MANAGEMENT</h2>
  <table class="table table-success table-striped"> 
        <thead>
            <tr
              class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800">
              <th class="px-4 py-3"> ID</th>
              <th class="px-4 py-3">Name</th>
              <th class="px-4 py-3">Price</th>
              <th class="px-4 py-3">Stock</th>
              <th class="px-4 py-3">Quantity</th>
              <th class="px-4 py-3">Edit</th>
              <th class="px-4 py-3">Delete</th>
            </tr>
        </thead>
        <tbody class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800">
            {% for i in p %}
            <tr class="text-gray-700 dark:text-gray-400">
              <td class="px-4 py-3">
                <div class="flex items-center text-sm">

                  <div>
                    <p class="font-semibold"> {{i.id}}</p>

                  </div>
                </div>
              </td>
              <td class="px-4 py-3 text-sm">
                {{i.name}}
              </td>
              <td class="px-4 py-3 text-xs">

                {{i.price}}
                </span>
              </td>
              <td class="px-4 py-3 text-sm">
                {{i.stock}}
              </td>
              <td class="px-4 py-3 text-sm">
                {{i.quantity}}
              </td>
             
               <td class="px-4 py-3 text-sm">
                <span
                  class="px-2 py-1 font-semibold leading-tight text-green-700 bg-green-100 rounded-full dark:bg-green-700 dark:text-green-100">
                  <a class="" href="{% url 'editproducts' i.id %}" role="button">EDIT</a>
                </span>
              </td>
              <td class="px-4 py-3 text-sm">
                <span
                  class="">
                  {% comment %} <a class="bg-danger" href="{% url 'delete_user' i.id%}"><button class="btn bg-danger" onclick="return confirm('Are you sure you want to delete this item?');">Delete</button></a> {% endcomment %}
                  {% comment %} <a type="button"href="{% url 'delete_user' i.id%} data-bs-toggle="modal" data-bs-target="#exampleModal{{i.id}}" class=" px-2 py-1 font-semibold leading-tight text-red-700 bg-red-100 rounded-full dark:text-red-100 dark:bg-red-700" onclick="return confirm('Are you sure you want to delete this item?');" role="button">REMOVE</a> {% endcomment %}
                  {% comment %} <a class="px-2 py-1 font-semibold leading-tight text-red-700 bg-red-100 rounded-full dark:text-red-100 dark:bg-red-700 "
                  href="{% url 'delete_user' i.id %}" role="button">Delete</a> {% endcomment %}
                  <a class="px-2 py-1 font-semibold leading-tight text-red-700 bg-red-100 rounded-full dark:text-red-100 dark:bg-red-700 " 
                  href="{% url 'delete_user' i.id%}" role="button" onclick="return confirm('Are you sure you want to delete this item?');">
                    Delete</button></a>
                </span>
              </td>
            </tr>
            <div class="modal fade" id="exampleModal{{i.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  {% comment %} <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Remove Product</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    Do you want to remove {{i.name}}
                  </div> {% endcomment %}
                  {% comment %} <div class="modal-footer">
                    {% comment %} <button type="button" class="px-2 py-1 font-semibold leading-tight text-green-700 bg-green-100 rounded-full dark:bg-green-700 dark:text-green-100" data-bs-dismiss="modal">Close</button> {% endcomment %}
                    
                    {% comment %} <a href=""> <button  type="button" class=" px-2 py-1 font-semibold leading-tight text-red-700 bg-red-100 rounded-full dark:text-red-100 dark:bg-red-700">Remove</button> </a> {% endcomment %}
                  
                  {% comment %} </div>  {% endcomment %}
                </div>
              </div>
            </div>
            {% endfor %}
        </tbody>
      </table>
      <center>
       <a href="{% url 'addproducts' %}"> <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">
            ADD PRODUCTS
          </button></a>
        </center>
    
</div>


{% endblock content %}